doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Сброс пароля
  body
    h1 Сброс пароля
    p Здравствуйте, #{name}!
    p Вы запросили сброс пароля для вашего аккаунта. Для продолжения, пожалуйста, перейдите по следующей ссылке:
    a(href=`${resetUrl}`) Сбросить пароль
    p Если вы не запрашивали сброс пароля, проигнорируйте это сообщение.
    p Ссылка действительна в течение 1 часа.
